ion-title {
  text-align: center;
  color: white;
  font-family: Arial Black, serif;
  font-size: 24px;
}

p {
  text-align: center;
}

button {
  font-family: 'Hiragino Sans', Meiryo;
  font-weight: 300;
  font-size: 14px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 20px;
  width: 90%;
}
